
/*
||
||      CONFIGURAÇÕES GERAIS
||
*/
body {
    font-family: Arial, sans-serif;
}
/*
||
||      SECÇÂO
||
*/
.produto-titulo {
    margin-left: 5%;
    color: #0d6efd;
    text-decoration: none;
    font-size: 190%;
    letter-spacing: 2px;
    font-weight: bold;
}
/*
||
||      BANNER & NAVBAR
||
*/
.banner {
    background-image: url('./imagens/download.jfif');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 50px 0;
    text-align: center;
}

/*
||
||      CARD DOS PRODUTOS
||
*/
.card {
    min-width: 300px;   /* Define a largura mínima do card */
    min-height: 400px;  /* Define a altura mínima do card */
    max-width: 300px;
    max-height: 400px;
}

.product-card {
    transition: transform 0.3s;
    width: 100%;
}

.product-card:hover {
    transform: scale(1.08);
}

.product-container {
    overflow: auto;
}

.card-imagem {
    width: 300px;      /* Largura fixa do container da imagem */
    max-height: 200px;     /* Altura fixa do container da imagem */
    overflow: hidden;  /* Oculta partes da imagem que ultrapassarem o container */
}

.btn-carrinho{
    align-items: bottom;
}
/*
||
||      CARD DOS PRODUTOS
||
*/